<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
<body class=" bg-gradient">
    <%- include('partials/navbar') %>
    <div class="container-fluid p-0" style="height:100%">
        <div class="card shadow p-3 mb-5 bg-white rounded" 
            style="width: 18rem; position: absolute; right: 25px; top: 80px; z-index: 500;">
            <span class="pull-right clickable close-icon" data-effect="fadeOut"><i class="fa fa-times"></i></span>
            <div class="card-body">
                <h5 class="card-title">PPE Tracker Help</h5>
                <p class="card-text">The availability and requirement status of all PPEs are shown in a map here. <br> Click on the red <span class="text-danger">+</span> button to
                register a new status </p>
                <hr>
                <p class="card-text"> Clicking on a map marker
                will show more information like quantity of items and contact.</p>
            </div>
            <div class="legend p-3">
                <p>Legend</p>
                <div>
                    <img src="/images/red-marker.svg" alt="">
                    <span class="legend-text">Requirement</span>
                </div>
                <div>
                    <img src="/images/green-marker.svg" alt="">
                    <span class="legend-text">PPE Donation</span>
                </div>
                <div>
                    <img src="/images/blue-marker.svg" alt="">
                    <span class="legend-text">Manufacturing</span>
                </div>
                <div>
                    <img src="/images/purple-marker.svg" alt="">
                    <span class="legend-text">Matched application</span>
                </div>
            </div>
        </div>
        <div id="mapid" class="h-100">
        </div>
        <div class="fab-container">
            <a type="button" class="btn btn-danger btn-fab" href="/ppe/create">
                <span class="fa fa-plus"></span>
            </a>
            <!-- <a type="button" class="btn btn-fab btn-primary btn-sm" href="/ppe/list" style>
                <span class="fa fa-list"></span>
            </a> -->
        </div>
        
    </div>


    <script>

        var mymap = L.map('mapid', {
                zoomControl: false
            }).setView([<%- lat %>, <%- lng %>], <%- zoom %>);
        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1Ijoic2hpbmphbiIsImEiOiJjazhiMHM2bzQwN2oyM2tvM3d3cm81dmxsIn0.cVV5b0Ey8lIQ2DcsJ5ZDmA', {
            maxZoom: 18,
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
                '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1
        }).addTo(mymap);

        L.control.zoom({
                position: 'bottomleft'
            }).addTo(mymap);
        let iconOptions={
            iconSize: [28, 70], // size of the icon
            iconAnchor: [13, 34], // point of the icon which will correspond to marker's location
        }
        var greenIcon = L.icon({
            iconUrl: '/images/green-marker.svg',
            ...iconOptions
        });
        var redIcon = L.icon({
            iconUrl: '/images/red-marker.svg',
            ...iconOptions
        });
        var blueIcon = L.icon({
            iconUrl: '/images/blue-marker.svg',
            ...iconOptions
        });
        var purpleIcon = L.icon({
            iconUrl: '/images/purple-marker.svg',
            ...iconOptions
        });
        const availability_url = "/api/availability";
        const manufacturing_url = "/api/manufacturing";
        const requirement_url = "/api/requirement";

        $(function () {
            // $ methods go here...
            $.get(availability_url, function (data) {
                // console.log(data)
                for (let i of data) {
                    let icon = greenIcon;
                    if(i.resolved){
                        continue;
                    }
                    if(i.connected){
                        icon = purpleIcon;
                    }
                    const marker = L.marker([i.latitude, i.longitude], { icon: icon }).addTo(mymap);
                    marker.bindPopup(`
                    <b>Available</b><br>
                    ${i.quantity} ${i.PPEType.name}s<br>
                    ${i.name}<br>
                    `);
                }
            });
            $.get(manufacturing_url, function (data) {
                // console.log(data)
                for (let i of data) {
                    let icon = blueIcon;
                    if(i.resolved){
                        continue;
                    }
                    if(i.connected){
                        icon = purpleIcon;
                    }
                    const marker = L.marker([i.latitude, i.longitude], { icon: icon }).addTo(mymap);
                    marker.bindPopup(`
                    <b>Manufacturing</b><br>
                    ${i.quantity} ${i.PPEType.name}s<br>
                    ${i.name}<br>
                    `);
                }
            });
            // Plot requirements
            $.get(requirement_url, function (data) {
                // console.log(data)
                for (let i of data) {
                    let icon = redIcon;
                    if(i.resolved){
                        continue;
                    }
                    if(i.connected){
                        icon = purpleIcon;
                    }
                    const marker = L.marker([i.latitude, i.longitude], { icon: icon }).addTo(mymap);
                    marker.bindPopup(`
                    <b>Required</b><br>
                    ${i.quantity} ${i.PPEType.name}s<br>
                    ${i.name}<br>
                    `);
                }
            });
        });

        $('.close-icon').on('click', function () {
                $(this).closest('.card').fadeOut();
            })

    </script>
</body>

</html>
