<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
</head>

<body class=" bg-gradient">

    <%- include('partials/navbar') %>
    <!-- <div class="fab-container">
        <a type="button" class="btn btn-danger btn-fab" href="/ppe/create">
            <span class="fa fa-plus"></span>
        </a>
    </div> -->
    <div class="container pt-2">
        <div class="row w-100 justify-content-sm-center">
            <div class="col-sm-10 text-center ">
                <div class="card shadow p-1 mb-2 bg-white rounded">
                    <div class="card-body">
                        <p class="card-text">The availability and requirement status of all PPEs are shown in a list
                            here.
                        </p>
                        <p> Click on the map-marker icon
                            <button class="text-light btn btn-info btn-sm d-inline " disabled>
                                <span class="fa fa-map-marker"></span>
                            </button>&nbsp;
                            to view the item's location.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 p-1">
                <div class="card">
                    <div class="card-header bg-success">
                        <h5 class="mb-0 text-white">PPE donations</h5>
                    </div>
                </div>
                <div id="accordion">
                    <% availabilities.forEach(function(av) { %>

                    <div class="card">
                        <div class="card-header" id="heading-av-<%= av.id %>">
                            <p class="text-left p-0 m-0">
                                <small><%= av.createdAt.toDateString() %></small>
                                <button type="button" class="btn btn-info btn-sm float-right" data-toggle="modal"
                                    data-target="#locationModal" data-lat="<%= av.latitude %>"
                                    data-lng="<%= av.longitude %>">
                                    <span class="fa fa-map-marker"></span>
                                </button>
                            </p>
                            <b><%= av.quantity %> <%= av.PPEType.name %>s </b> can be donated by
                            <%= av.User ? av.User.username : 'unknown' %>

                        </div>
                    </div>
                    <% }); %>

                </div>
            </div>
            <div class="col-md-4 p-1">
                <div class="card">
                    <div class="card-header bg-danger">
                        <h5 class="mb-0 text-white">Requirements</h5>
                    </div>
                </div>
                <div>
                    <% requirements.forEach(function(req) { %>

                    <div class="card">
                        <div class="card-header" id="heading-req-<%= req.id %>">
                            <p class="text-left p-0 m-0">
                                <small><%= req.createdAt.toDateString() %></small>
                                <button type="button" class="btn btn-info btn-sm float-right" data-toggle="modal"
                                    data-target="#locationModal" data-lat="<%= req.latitude %>"
                                    data-lng="<%= req.longitude %>">
                                    <span class="fa fa-map-marker"></span>
                                </button>
                            </p>
                            <b><%= req.quantity %> <%= req.PPEType.name %>s </b> required by
                            <%= req.User ? req.User.username : 'unknown' %>

                        </div>
                    </div>
                    <% }); %>

                </div>
            </div>
            <div class="col-md-4 p-1">
                <div class="card">
                    <div class="card-header bg-primary">
                        <h5 class="mb-0 text-white">Manufacturing/Suppliers</h5>
                    </div>
                </div>
                <div>
                    <% manufacturing.forEach(function(man) { %>

                    <div class="card">
                        <div class="card-header" id="heading-man-<%= man.id %>">
                            <p class="text-left p-0 m-0">
                                <small><%= man.createdAt.toDateString() %></small>
                                <button type="button" class="btn btn-info btn-sm float-right" data-toggle="modal"
                                    data-target="#locationModal" data-lat="<%= man.latitude %>"
                                    data-lng="<%= man.longitude %>">
                                    <span class="fa fa-map-marker"></span>
                                </button>
                            </p>
                            <b><%= man.quantity %> <%= man.PPEType.name %>s </b> can be manufactured by
                            <%= man.User ? man.User.username : 'unknown' %>

                        </div>
                    </div>
                    <% }); %>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="locationModal" tabindex="-1" role="dialog" aria-labelledby="locationModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="locationModalLabel">Location</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="mapid" style="height: 300px;"> </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    let mymap = L.map('mapid').setView([22, 84], 10);
    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1Ijoic2hpbmphbiIsImEiOiJjazhiMHM2bzQwN2oyM2tvM3d3cm81dmxsIn0.cVV5b0Ey8lIQ2DcsJ5ZDmA', {
        maxZoom: 18,
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
            '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
            'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1
    }).addTo(mymap);
    let marker = L.marker([22, 84]).addTo(mymap);

    $('#locationModal').on('show.bs.modal', function (event) {
        console.log("poof")
        const button = $(event.relatedTarget) // Button that triggered the modal
        const lat = button.data('lat') // Extract info from data-* attributes
        const lng = button.data('lng') // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use leaflet to update the map's point
        marker.setLatLng(new L.LatLng(lat, lng));
        mymap.panTo(new L.LatLng(lat, lng))
        setTimeout(function () { mymap.invalidateSize() }, 400);
    })
</script>

</html>
